### 1) Write a Python program which accepts a list named : randomList = ['a', 0, 2]. Use exception handling using try-catch which.

In [1]:
randomList = ['a',0,2]
length = len(randomList)

for i in range(length):
    try:
        val = int(randomList[i])
        if val > 0:
            print("The entry is %d"% val)
            reciprocal = 1/val
            print("The reciprocal of %.1f is" % reciprocal)
        else:
            print("The entry is %d"%randomList[i])
            print("Oops! <class 'ZeroDivisionError'> occured.")
        
    except:
            print("The entry is %s "%randomList[i])
            print("Oops! <class 'ValueError'> occured.")
    print("Next entry.")

The entry is a
Oops! <class 'ValueError'> occured.
Next entry.
The entry is 0
Oops! <class 'ZeroDivisionError'> occured.
Next entry.
The entry is 2
The reciprocal of 0.5 is
Next entry.

### 2) Array out of Bound Exception Write a Python program to give exception “Array Out of Bound” if the user wants to access the elements beyond the list size (use try and exce pt)

In [2]:
import numpy as np
arr=np.arange(4)
length=len(arr)
try:
    val=arr[length+1]
    print(val)
except:
    print("Array out of bound")

Array out of bound

### 3) Write a python module script that contains fib2() method to calculate the Fibonacci series till 1000 and save it as fibo.py.

In [ ]:
import fibo as fb
fb.fib2(1000)

### 4) Write a python module script that contains ispalindrome() method to calculate the input string as palindrome string or not
and save it as palindrome.py.

In [25]:
# palindrome or not 
def isPalindrome(s): 
      
    # Using predefined function to  
    # reverse to string print(s) 
    rev = ''.join(reversed(s)) 
  
    # Checking if both string are  
    # equal or not 
    if (s == rev): 
        return True
    return False
  
# main function 
s = "ajit"
ans = isPalindrome(s) 
  
if (ans): 
    print("Yes") 
else: 
    print("No")

No

### 5) Write a program in Python with one class called Cipher. Within the constructor of this class, ask user for a string and storeit. Use a static variable, key to store a randomly generated integer between 1 and 50 inclusive. Implement two methods,encrypt and decrypt within this class. Encrypt generates and prints a cipher text using the user-entered string and the key and ecrypt generates decrypted string from ciphertext. The cipher only encrypts alpha and numeric (A-Z, a-z, 0-9). All Symbols,such as - , ; %, remain unencrypted. The cipher text can have special characters. Use generator expression to filter out alphaand numeric characters of the input string and to generate cipher text. Create an instance of this class, encrypt and decrypt back the user entered string.

In [ ]:
import numpy as np
class Cipher:
    L2I = dict(zip("ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789",range(62)))
    I2L = dict(zip(range(62),"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"))
    
    def __init__(self,instr=""): 
        self.Instr=str(input("Enter the input string"))
        
    def encrypt(self,key):
        ciphertext = ""
        Instr=self.Instr
        for c in Instr:
            if c.isalnum(): 
                ciphertext += self.I2L[ (self.L2I[c] + key)%62 ]
            else: 
                ciphertext += c
        return ciphertext
    
    def decrypt(self,Enstr,key):
        plaintext2 = ""
        for c in Enstr:
            if c.isalnum(): plaintext2 += self.I2L[ (self.L2I[c] - key)%62]
            else: plaintext2 += c
        return plaintext2

k=np.random.randint(1,50,1)
key=k[0]
c=Cipher()
encryptstr=c.encrypt(key)
decryptstr=c.decrypt(encryptstr,key)
print("\n Input String is :\t"+c.Instr)
print("\nEncryption vaue of given string is :\t"+encryptstr)
print("\nDecryption vaue of given string is :\t"+decryptstr)

### 6) Get Data from the following link:
http://files.grouplens.org/datasets/movielens/ml-20m.zip

#### We will be using the following files for this exercise:

##### ratings.csv : userId,movieId,rating, timestamp

##### tags.csv : userId,movieId, tag, timestamp

##### movies.csv : movieId, title, genres

### Q1. Read the dataset using pandas.

In [26]:
import pandas as pd 
ratings = pd.read_csv(r"C:\Users\Admin\Desktop\Data Science Repo\Data Science Masters\V7\Session 8\ml-20m\ratings.csv") 
tags = pd.read_csv(r"C:\Users\Admin\Desktop\Data Science Repo\Data Science Masters\V7\Session 8\ml-20m\tags.csv") 
movies = pd.read_csv(r"C:\Users\Admin\Desktop\Data Science Repo\Data Science Masters\V7\Session 8\ml-20m\movies.csv")

### Q2. Extract the first row from tags and print its type.

In [27]:
tags.head(1)

   userId  movieId          tag   timestamp
0      18     4141  Mark Waters  1240597180

In [28]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465564 entries, 0 to 465563
Data columns (total 4 columns):
userId       465564 non-null int64
movieId      465564 non-null int64
tag          465548 non-null object
timestamp    465564 non-null int64
dtypes: int64(3), object(1)
memory usage: 14.2+ MB

### Q3. Extract row 0, 11, 2000 from tags DataFrame.

In [29]:
tags.take([0,11,2000])

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

### Q4. Print index, columns of the DataFrame.

In [30]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

### Q5. Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().

In [31]:
print(ratings.describe())

             userId       movieId        rating     timestamp
count  2.000026e+07  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00  1.100918e+09
std    4.003863e+04  1.978948e+04  1.051989e+00  1.621694e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    3.439500e+04  9.020000e+02  3.000000e+00  9.667977e+08
50%    6.914100e+04  2.167000e+03  3.500000e+00  1.103556e+09
75%    1.036370e+05  4.770000e+03  4.000000e+00  1.225642e+09
max    1.384930e+05  1.312620e+05  5.000000e+00  1.427784e+09

In [32]:
print(ratings.count())

userId       20000263
movieId      20000263
rating       20000263
timestamp    20000263
dtype: int64

In [33]:

print(ratings.mean())

userId       6.904587e+04
movieId      9.041567e+03
rating       3.525529e+00
timestamp    1.100918e+09
dtype: float64

In [34]:

print(ratings.std())

userId       4.003863e+04
movieId      1.978948e+04
rating       1.051989e+00
timestamp    1.621694e+08
dtype: float64

### Q6. Filter out ratings with rating > 5

In [35]:
ratings[ratings.rating > 5]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

### Q7. Find how many null values, missing values are present. Deal with them. Print out how many rows have been modified.

In [36]:
# tags.isnull().values.ravel().sum()
tags.isnull().sum()

userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [37]:
tags=tags.fillna(" ")

In [38]:
tags

,userId,movieId,tag,timestamp
0,18,4141,Mark Waters,1240597180
1,65,208,dark hero,1368150078
2,65,353,dark hero,1368150079
3,65,521,noir thriller,1368149983
4,65,592,dark hero,1368150078
5,65,668,bollywood,1368149876
6,65,898,screwball comedy,1368150160
7,65,1248,noir thriller,1368149983
8,65,1391,mars,1368150055
9,65,1617,neo-noir,1368150217
10,65,1694,jesus,1368149925
11,65,1783,noir thriller,1368149983
12,65,2022,jesus,1368149925
13,65,2193,dragon,1368151314
14,65,2353,conspiracy theory,1368151266
15,65,2662,mars,1368150055
16,65,2726,noir thriller,1368149983
17,65,2840,jesus,1368149925
18,65,3052,jesus,1368149926
19,65,5135,bollywood,1368149876
20,65,6539,treasure,1368149949
21,65,6874,dark hero,1368150079
22,65,7013,noir thriller,1368149983
23,65,7318,jesus,1368149925
24,65,8529,stranded,1368150012
25,65,8622,conspiracy theory,1368151266
26,65,27803,Oscar (Best Foreign Language Film),1305008715
27,65,27866,New Zealand,1304957153
28,65,48082,surreal,1304958354
29,65,48082,unusual,1304958359
...,...,...,...,...
465534,138436,81932,big hair,1298754654
465535,138436,81932,Mark Wahlberg,1298754636
465536,138436,81932,pigs,1298754658
465537,138436,81932,prostitution,1298754620
465538,138437,77154,"This movie should have been called ""How Cocain...",1357384633
465539,138446,317,Christmas,1358983914
465540,138446,317,funny,1358983914
465541,138446,317,Judge Reinhold,1358983914
465542,138446,317,Tim Allen,1358983914
465543,138446,317,whiny kid,1358983946
465544,138446,837,family friendly,1358983693
465545,138446,918,halloween scene,1358984062
465546,138446,918,quirky,1358984051
465547,138446,2396,topless scene,1358973995
465548,138446,3086,Christmas,1358983979
465549,138446,3086,classic,1358983979
465550,138446,3086,funny,1358983979
465551,138446,3086,scary,1358984001
465552,138446,3489,Peter Pan,1358983822
465553,138446,3489,soundtrack,1358983822
465554,138446,3489,visually appealing,1358983822
465555,138446,7045,family friendly,1358983660
465556,138446,7045,Scary Movies To See on Halloween,1358983660
465557,138446,7164,Peter Pan,1358983855
465558,138446,7164,visually appealing,1358983855
465559,138446,55999,dragged,1358983772
465560,138446,55999,Jason Bateman,1358983778
465561,138446,55999,quirky,1358983778
465562,138446,55999,sad,1358983772
465563,138472,923,rise to power,1194037967

### Q8. Filter out movies from the movies DataFrame that are of type 'Animation'

In [39]:
# movies['Animation' in movies.genres]
movies["Indexes"]= movies["genres"].str.find('Animation')
movies[movies.Indexes > 0]['title']

0                                         Toy Story (1995)
12                                            Balto (1995)
360                                  Lion King, The (1994)
388             Secret Adventures of Tom Thumb, The (1993)
553                                 Pagemaster, The (1994)
582                                         Aladdin (1992)
604                                     Heavy Metal (1981)
624                         All Dogs Go to Heaven 2 (1996)
653                       James and the Giant Peach (1996)
664                                       Space Jam (1996)
697                                Oliver & Company (1988)
708      Wallace & Gromit: The Best of Aardman Animatio...
871      Land Before Time III: The Time of the Great Gi...
1011                                  Pete's Dragon (1977)
1013                            Alice in Wonderland (1951)
1197       Grand Day Out with Wallace and Gromit, A (1989)
1246                                          Akira (1988)
1372                Beavis and Butt-Head Do America (1996)
1515                                       Hercules (1997)
1631                                      Anastasia (1997)
1797                              Quest for Camelot (1998)
1823                                          Mulan (1998)
1949                            Black Cauldron, The (1985)
1964                     Great Mouse Detective, The (1986)
2001     101 Dalmatians (One Hundred and One Dalmatians...
2005                       Rescuers Down Under, The (1990)
2006                                  Rescuers, The (1977)
2008                           Return of Jafar, The (1994)
2015                              Song of the South (1946)
2032                         Lord of the Rings, The (1978)
                               ...
25360               FernGully 2: The Magical Rescue (1998)
25403                Everything I Can See From Here (2013)
25417                                    Foodfight! (2012)
25507                                      Nocturna (2007)
25608                                        Tarzan (2013)
25782                        Scooby-Doo! Camp Scare (2010)
25816    The Land Before Time VII: The Stone of Cold Fi...
25825    The Land Before Time IX: Journey to the Big Wa...
25833     The Land Before Time VIII: The Big Freeze (2001)
25836    The Land Before Time X: The Great Longneck Mig...
26049            Justice League: Throne of Atlantis (2015)
26053                       The Wind in the Willows (1995)
26164                                         Kiwi! (2006)
26360                              Help! I'm A Fish (2001)
26368                               Babar The Movie (1989)
26391                       The Fox and the Hound 2 (2006)
26407                 The Fabulous Baron Munchausen (1962)
26714                          The Gruffalo's Child (2011)
26907     SpongeBob Movie: Sponge Out of Water, The (2015)
26995    Ghost in the Shell Arise - Border 1: Ghost Pai...
27006    LEGO DC Comics Super Heroes: Justice League vs...
27070                                  Frozen Fever (2015)
27107            Cardcaptor Sakura: The Sealed Card (2000)
27129    Berserk: The Golden Age Arc 2 - The Battle for...
27130    Berserk: The Golden Age Arc - The Egg of the K...
27131       Berserk: The Golden Age Arc 3 - Descent (2013)
27135                     The Amazing Screw-On Head (2006)
27208                           Ronal the Barbarian (2011)
27221    Mickey, Donald, Goofy: The Three Musketeers (2...
27270                                Brother Bear 2 (2006)
Name: title, Length: 456, dtype: object

### Q9. Find the average rating of movies.¶

In [40]:
ratings['rating'].mean()

3.5255285642993797

### Q10. Perform an inner join of movies and tags based on movieId

In [41]:

merge= pd.merge(movies,tags,how='inner',on='movieId')
merge.head()

,movieId,title,genres,Indexes,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,1741,Pixar animation,1183934770
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,1741,TÃ©a Leoni does not star in this movie,1245093573

### Q11. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.¶

In [42]:

movie_ratings= pd.merge(movies,ratings,how='inner',on='movieId')
movie_ratings.head(5)
# query('genres > 50 and C != 900')
movie_ratings.loc[(movie_ratings["genres"].str.find('Comedy')) & (movie_ratings["rating"] > 4), "title"].head(5)

1     Toy Story (1995)
4     Toy Story (1995)
7     Toy Story (1995)
9     Toy Story (1995)
14    Toy Story (1995)
Name: title, dtype: object

### Q12. Split 'genres' into multiple columns.

In [43]:

movies['genres_split'] = movies['genres'].str.split('|')
movies['genres_split'].head(5)

0    [Adventure, Animation, Children, Comedy, Fantasy]
1                       [Adventure, Children, Fantasy]
2                                    [Comedy, Romance]
3                             [Comedy, Drama, Romance]
4                                             [Comedy]
Name: genres_split, dtype: object


### Q13. Extract year from title e.g. (1995)

In [44]:

# movies['a'],movies['b'] = movies['title'].str.split('(', 1).str
#movies['title'].str.split('(')
#movies["title"].str.split("(", n = 1, expand = True) 
movies['ETL1']=movies["title"].str[-5:]
movies['ETL1'] = movies['ETL1'].str.replace(')','')

movies
# movies['year'].head()

,movieId,title,genres,Indexes,genres_split,ETL1
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,-1,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men (1995),Comedy|Romance,-1,"[Comedy, Romance]",1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,-1,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II (1995),Comedy,-1,[Comedy],1995
5,6,Heat (1995),Action|Crime|Thriller,-1,"[Action, Crime, Thriller]",1995
6,7,Sabrina (1995),Comedy|Romance,-1,"[Comedy, Romance]",1995
7,8,Tom and Huck (1995),Adventure|Children,-1,"[Adventure, Children]",1995
8,9,Sudden Death (1995),Action,-1,[Action],1995
9,10,GoldenEye (1995),Action|Adventure|Thriller,-1,"[Action, Adventure, Thriller]",1995
10,11,"American President, The (1995)",Comedy|Drama|Romance,-1,"[Comedy, Drama, Romance]",1995
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,-1,"[Comedy, Horror]",1995
12,13,Balto (1995),Adventure|Animation|Children,10,"[Adventure, Animation, Children]",1995
13,14,Nixon (1995),Drama,-1,[Drama],1995
14,15,Cutthroat Island (1995),Action|Adventure|Romance,-1,"[Action, Adventure, Romance]",1995
15,16,Casino (1995),Crime|Drama,-1,"[Crime, Drama]",1995
16,17,Sense and Sensibility (1995),Drama|Romance,-1,"[Drama, Romance]",1995
17,18,Four Rooms (1995),Comedy,-1,[Comedy],1995
18,19,Ace Ventura: When Nature Calls (1995),Comedy,-1,[Comedy],1995
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,-1,"[Action, Comedy, Crime, Drama, Thriller]",1995
20,21,Get Shorty (1995),Comedy|Crime|Thriller,-1,"[Comedy, Crime, Thriller]",1995
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,-1,"[Crime, Drama, Horror, Mystery, Thriller]",1995
22,23,Assassins (1995),Action|Crime|Thriller,-1,"[Action, Crime, Thriller]",1995
23,24,Powder (1995),Drama|Sci-Fi,-1,"[Drama, Sci-Fi]",1995
24,25,Leaving Las Vegas (1995),Drama|Romance,-1,"[Drama, Romance]",1995
25,26,Othello (1995),Drama,-1,[Drama],1995
26,27,Now and Then (1995),Children|Drama,-1,"[Children, Drama]",1995
27,28,Persuasion (1995),Drama|Romance,-1,"[Drama, Romance]",1995
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,-1,"[Adventure, Drama, Fantasy, Mystery, Sci-Fi]",1995
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,-1,"[Crime, Drama]",1995
...,...,...,...,...,...,...
27248,131146,Werner - Volles Rooäää (1999),Animation|Comedy,0,"[Animation, Comedy]",1999
27249,131148,What A Man (2011),Comedy|Romance,-1,"[Comedy, Romance]",2011
27250,131150,7 Dwarves: The Forest Is Not Enough (2006),Comedy,-1,[Comedy],2006
27251,131152,The Fat Spy (1966),Comedy,-1,[Comedy],1966
27252,131154,"Die Bademeister – Weiber, saufen, Leben retten...",Comedy,-1,[Comedy],1999
27253,131156,Ants in the Pants 2 (2002),Comedy,-1,[Comedy],2002
27254,131158,"Manta, Manta (1991)",Comedy,-1,[Comedy],1991
27255,131160,Oscar and the Lady in Pink (2009),Drama,-1,[Drama],2009
27256,131162,Por un puñado de besos (2014),Drama|Romance,-1,"[Drama, Romance]",2014
27257,131164,Vietnam in HD (2011),War,-1,[War],2011
27258,131166,WWII IN HD (2009),(no genres listed),-1,[(no genres listed)],2009
27259,131168,Phoenix (2014),Drama,-1,[Drama],2014
27260,131170,Parallels (2015),Sci-Fi,-1,[Sci-Fi],2015
27261,131172,Closed Curtain (2013),(no genres listed),-1,[(no genres listed)],2013
27262,131174,Gentlemen (2014),Drama|Romance|Thriller,-1,"[Drama, Romance, Thriller]",2014
27263,131176,A Second Chance (2014),Drama,-1,[Drama],2014
27264,131180,Dead Rising: Watchtower (2015),Action|Horror|Thriller,-1,"[Action, Horror, Thriller]",2015
27265,131231,Standby (2014),Comedy|Romance,-1,"[Comedy, Romance]",2014
27266,131237,What Men Talk About (2010),Comedy,-1,[Comedy],2010
27267,131239,Three Quarter Moon (2011),Comedy|Drama,-1,"[Comedy, Drama]",2011
27268,131241,Ants in the Pants (2000),Comedy|Romance,-1,"[Comedy, Romance]",2000
27269,131243,Werner - Gekotzt wird später (2003),Animation|Comedy,0,"[Animation, Comedy]",2003
27270,131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy,10,"[Adventure, Animation, Children, Comedy, Fantasy]",2006
27271,131250,No More School (2000),Comedy,-1,[Comedy],2000
27272,131252,Forklift Driver Klaus: The First Day on the Jo...,Comedy|Horror,-1,"[Comedy, Horror]",2001
27273,131254,Kein Bund für's Leben (2007),Comedy,-1,[Comedy],2007
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,-1,[Comedy],2002
27275,131258,The Pirates (2014),Adventure,-1,[Adventure],2014
27276,131260,Rentun Ruusu (2001),(no genres listed),-1,[(no genres listed)],2001
27277,131262,Innocence (2014),Adventure|Fantasy|Horror,-1,"[Adventure, Fantasy, Horror]",2014

### Q14. Select rows based on timestamps later than 2015-02-01.¶

In [46]:
#timestamp Converting
ratings["NEWtimestamp"]=pd.to_datetime(ratings["timestamp"], unit='s')
ratings[ratings.NEWtimestamp>"2015-02-01"]

          userId  movieId  rating   timestamp        NEWtimestamp
3534          31        1     3.0  1424733487 2015-02-23 23:18:07
3535          31      110     5.0  1424733473 2015-02-23 23:17:53
3536          31      260     5.0  1424733433 2015-02-23 23:17:13
3537          31      364     3.0  1424844807 2015-02-25 06:13:27
3538          31      527     0.5  1424733598 2015-02-23 23:19:58
3539          31      588     3.0  1424842869 2015-02-25 05:41:09
3540          31      594     2.5  1424844811 2015-02-25 06:13:31
3541          31      616     4.0  1424844817 2015-02-25 06:13:37
3542          31     1196     5.0  1424733435 2015-02-23 23:17:15
3543          31     1197     3.0  1424734492 2015-02-23 23:34:52
3544          31     1207     0.5  1424734478 2015-02-23 23:34:38
3545          31     1210     5.0  1424733439 2015-02-23 23:17:19
3546          31     1214     0.5  1424733574 2015-02-23 23:19:34
3547          31     1270     4.0  1424733467 2015-02-23 23:17:47
3548          31     2096     2.0  1424844830 2015-02-25 06:13:50
3549          31     2571     4.5  1424736532 2015-02-24 00:08:52
3550          31     2959     2.0  1424734458 2015-02-23 23:34:18
3551          31     3300     5.0  1424733940 2015-02-23 23:25:40
3552          31     3483     4.0  1424735625 2015-02-23 23:53:45
3553          31     3555     3.0  1424734355 2015-02-23 23:32:35
3554          31     3615     3.0  1424734207 2015-02-23 23:30:07
3555          31     3624     3.0  1424733917 2015-02-23 23:25:17
3556          31     3671     5.0  1424733819 2015-02-23 23:23:39
3557          31     3751     4.0  1424736599 2015-02-24 00:09:59
3558          31     3793     4.5  1424734262 2015-02-23 23:31:02
3559          31     3916     4.5  1424734610 2015-02-23 23:36:50
3560          31     4016     4.0  1424733990 2015-02-23 23:26:30
3561          31     4022     2.0  1424734536 2015-02-23 23:35:36
3562          31     4232     4.0  1424734082 2015-02-23 23:28:02
3563          31     4299     3.0  1424733987 2015-02-23 23:26:27
...          ...      ...     ...         ...                 ...
19983952  138380   106072     4.5  1425153394 2015-02-28 19:56:34
19983953  138380   106487     4.0  1425153305 2015-02-28 19:55:05
19983954  138380   106489     4.0  1425153324 2015-02-28 19:55:24
19983955  138380   106696     4.0  1425153364 2015-02-28 19:56:04
19983956  138380   106782     4.5  1425153588 2015-02-28 19:59:48
19983957  138380   106920     5.0  1425153307 2015-02-28 19:55:07
19983958  138380   108190     3.5  1425153468 2015-02-28 19:57:48
19983959  138380   109374     4.0  1425152897 2015-02-28 19:48:17
19983960  138380   109487     4.5  1425152894 2015-02-28 19:48:14
19983961  138380   110102     4.0  1425153224 2015-02-28 19:53:44
19983962  138380   110553     4.0  1425153540 2015-02-28 19:59:00
19983963  138380   111360     3.5  1425153526 2015-02-28 19:58:46
19983964  138380   111362     4.0  1425153019 2015-02-28 19:50:19
19983965  138380   111364     4.0  1425153496 2015-02-28 19:58:16
19983966  138380   111759     3.5  1425153226 2015-02-28 19:53:46
19983967  138380   112138     4.5  1425153501 2015-02-28 19:58:21
19983968  138380   112290     3.0  1425153597 2015-02-28 19:59:57
19983969  138380   112623     4.0  1425153434 2015-02-28 19:57:14
19983970  138380   112852     5.0  1425153302 2015-02-28 19:55:02
19983971  138380   114180     3.5  1425153569 2015-02-28 19:59:29
19983972  138380   115210     3.5  1425153106 2015-02-28 19:51:46
19983973  138380   115569     4.0  1425152902 2015-02-28 19:48:22
19983974  138380   115617     4.5  1425153625 2015-02-28 20:00:25
19990177  138414    72011     4.0  1424880202 2015-02-25 16:03:22
19990189  138414    79139     3.0  1425828597 2015-03-08 15:29:57
19990201  138414    83480     2.5  1425683309 2015-03-06 23:08:29
19990229  138414    95309     4.0  1424539555 2015-02-21 17:25:55
19990240  138414   100163     3.0  1425419383 2015-03-03 21:49:43
19990256  138414   112183     5.0  1424539388 2015-02-21 17:23:08
19990260  138414   117851     3.5  1424762730 2015-02-24 07:25:30

[176136 rows x 5 columns]

### Q15. Sort the tags DataFrame based on timestamp.¶

In [47]:

#timestamp Converting
tags['NEWtimestamp']=pd.to_datetime(tags['timestamp'], unit='s')
#Using .sort_value sorting dataframe
tags.sort_values(by='NEWtimestamp', ascending=False)

,userId,movieId,tag,timestamp,NEWtimestamp
339178,102853,115149,russian mafia,1427771352,2015-03-31 03:09:12
158780,46072,6058,premonition,1427760764,2015-03-31 00:12:44
158763,46072,3409,premonition,1427760726,2015-03-31 00:12:06
288375,87797,215,Vienna,1427755801,2015-03-30 22:50:01
290535,88044,106782,profanity,1427754096,2015-03-30 22:21:36
290527,88044,106782,crime,1427753921,2015-03-30 22:18:41
290526,88044,106782,Amoral,1427753913,2015-03-30 22:18:33
290531,88044,106782,Jonah Hill,1427753849,2015-03-30 22:17:29
290530,88044,106782,inaccurate,1427753806,2015-03-30 22:16:46
290528,88044,106782,Economically Illiterate Writers,1427753739,2015-03-30 22:15:39
290533,88044,106782,Left-Wing Writers,1427753621,2015-03-30 22:13:41
290532,88044,106782,Left-Wing Propaganda,1427753266,2015-03-30 22:07:46
290529,88044,106782,ENFP,1427753147,2015-03-30 22:05:47
290534,88044,106782,Orgies,1427753111,2015-03-30 22:05:11
290536,88044,106782,unsatisfying ending,1427753000,2015-03-30 22:03:20
392904,122523,5004,party,1427752292,2015-03-30 21:51:32
392905,122523,5004,USA,1427752289,2015-03-30 21:51:29
150872,42640,115122,dark comedy,1427748808,2015-03-30 20:53:28
150871,42640,115122,comedy,1427748797,2015-03-30 20:53:17
150873,42640,115122,mockumentary,1427748778,2015-03-30 20:52:58
400106,123297,4573,CLV,1427747462,2015-03-30 20:31:02
405123,123297,118722,CLV,1427747321,2015-03-30 20:28:41
401017,123297,6481,CLV,1427747220,2015-03-30 20:27:00
400993,123297,6419,CLV,1427746864,2015-03-30 20:21:04
399877,123297,4211,CLV,1427746709,2015-03-30 20:18:29
405155,123297,128642,CLV,1427746337,2015-03-30 20:12:17
119989,28906,115149,cheesy,1427746074,2015-03-30 20:07:54
119993,28906,115149,over the top,1427746060,2015-03-30 20:07:40
119991,28906,115149,lack of story,1427746053,2015-03-30 20:07:33
119997,28906,115149,violent,1427746031,2015-03-30 20:07:11
...,...,...,...,...,...
81445,20513,36529,usa,1136242623,2006-01-02 22:57:03
68916,16050,6898,british,1136039368,2005-12-31 14:29:28
68918,16050,6898,harsh,1136039368,2005-12-31 14:29:28
68917,16050,6898,drugs,1136039368,2005-12-31 14:29:28
68919,16050,7060,christian,1136039301,2005-12-31 14:28:21
68922,16050,7060,religious,1136039301,2005-12-31 14:28:21
68920,16050,7060,kitsch,1136039301,2005-12-31 14:28:21
68921,16050,7060,musical,1136039301,2005-12-31 14:28:21
68924,16050,38886,eighties,1136036612,2005-12-31 13:43:32
68928,16050,38886,twee,1136036612,2005-12-31 13:43:32
68926,16050,38886,new york,1136036612,2005-12-31 13:43:32
68927,16050,38886,overrated,1136036612,2005-12-31 13:43:32
68925,16050,38886,family,1136036612,2005-12-31 13:43:32
15926,3797,8573,Nonlinear Surrealism,1135936223,2005-12-30 09:50:23
256663,75141,4642,Terrible,1135688095,2005-12-27 12:54:55
15903,3797,110,overrated,1135589075,2005-12-26 09:24:35
333944,100371,6016,brazil,1135429520,2005-12-24 13:05:20
333930,100371,2329,edward norton,1135429508,2005-12-24 13:05:08
333931,100371,2329,fuckoff nazi,1135429508,2005-12-24 13:05:08
333933,100371,2858,kevin spacey,1135429466,2005-12-24 13:04:26
333920,100371,32,bruce willis,1135429442,2005-12-24 13:04:02
333936,100371,4011,brad pitt,1135429431,2005-12-24 13:03:51
333937,100371,4011,guy ritchie,1135429431,2005-12-24 13:03:51
333922,100371,47,morgan freeman,1135429412,2005-12-24 13:03:32
333921,100371,47,brad pitt,1135429412,2005-12-24 13:03:32
333939,100371,5004,peter sellers,1135429399,2005-12-24 13:03:19
333923,100371,1193,jack nicholson,1135429371,2005-12-24 13:02:51
333924,100371,1206,stanley kubrick,1135429248,2005-12-24 13:00:48
333927,100371,1732,coen brothers,1135429236,2005-12-24 13:00:36
333932,100371,2788,monty python,1135429210,2005-12-24 13:00:10