### 1. In this exerscise, you will be creating two classes Bank and Saving. Saving class should be inherited from Bank. Each class and its corresponding attributes and method names are mentioned in description.

### Create the Bank class having 
* Attributes : name,balance,level
    * level should be depends on balance <br/>
    if balance < 5000    => "Basic"<br/>
    if balance < 15000    => "Intermediate"<br/>
    if balance >= 15000    => "Advanced"<br/>
* Instance Methods: deposit,withdraw

In [1]:
class bank(name str,balance int,level str):
    if balance <5000 
    elif ((balance >5000) and (balance <15000)
    else balance >15000

In [10]:
class bank:
    def __init__(self,name,balance):
        self.name =name
        self.balance = balance
       
        
        if self.balance <5000:
            self.level = 'Basic'
        elif self.balance < 15000:
            self.level = 'Intermidiate'
        else:
            self.level = 'Advanced'
        
        def deposite(self,amount):
            self.balance += amount
            return self.balance
        
        def withdraw (self, amount):
            if amount> self.balance:
                return("Insufficient for withdraw")
            else:
                self.balance -=amount
            return  self.balance

In [11]:
obj = bank('Prateek',100000000)

In [12]:
obj.name

'Prateek'

In [ ]:
UI---> bankapp --> DB


bankapp
    config
        conigparse
            getter
            setter
    bank_module
        basic_opeation
            add
            withdraw
    main.py

In [ ]:

#somthing explained on board
class parent ():
    def_init_(sc,lname)
    self.last_name = (name)
    
class child(parent):
    def__():
        self.name= 
        
        super__init()

### 1.1 Create Instance of class

In [6]:
obj = bank('Prateek',100000000,Basic)

NameError: name 'Basic' is not defined

###  1.2 Update name of instance

In [13]:
obj.name.upper()

'PRATEEK'

### 1.3 Add two methods to the existing class deposit and withdraw

In [14]:
# Use the Bank class code above to now add methods for withdrawal and depositing of money

SyntaxError: invalid syntax (<ipython-input-14-e4079fc9dfca>, line 4)

### 1.4 Create one more class saving inherited from Bank.
* Attribute: interest_rate=0.005 and 
* Method update_balance which will add interest to your existing balance

In [22]:
# create the Savings class below inheritaed from Bank
class savings(bank):
    def __init__(self,name,balance):
        super().__init__(name,balance)
        self.interest_rate= 0.005
        
    def update_balance(self):
        self.balance += self.balance*self.interest_rate
        return self.balance

### 1.5 Create an instance the same way as by calling Savings instead

In [23]:
ram = savings('Ram',5000000)

In [26]:
print(ram)

<__main__.savings object at 0x000001B80D867A20>

### 2.0 Create/connect to sqlite database bank.db using sqlite3.connect

In [29]:
import sqlite3

#create connction object
conn = sqlite3.connect("bank.db")

### 2.1 Create on table customer_details with columns as  acc_no ,name, balance
acc_no — integer<br/>
name — text<br/>
balance -float

In [33]:
# Create a Cursor object and call its execute() method to perform SQL commands

cur = conn.cursor()
cur.execute("create table if not exists customer_details(name text,balance integer)")
# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
conn.close()

### 2.2 Insert the instance values into customer_details tables. Use sql insert query command

In [ ]:
#Get all the values from intsance you have created


#Create Connection,cursor


#Execute your command using cur.execute


#Commit the chnages

#Clase the connection

### 2.3 Now Update the balance instance variable by calling method update_balance and also update the details in db

606.015

In [1]:
#Create Connection with bank.db


#Create cursor to execute commands


#Use sql update query


#Commit and close the connection

### 2.4 Verify updation it using pd.read_sql_query

In [86]:
import pandas as pd
conn=
q=
pd.read_sql_query(q, conn)
conn.close()

   acc_no name  balance
0       1  Ram  606.015
1       1  Ram  606.015

In [60]:
ram.balance

606.015

### 2.5 Fetch All the Records from table customer_details

[(1, 'Ram', 606.015), (1, 'Ram', 606.015)]

### 2.6 You can also use pd.read_sql_query and observe the difference

#### Note : Please check on commands like cur.executemany(),cur.fetch_one()

### 3.0 Creating tables with pandas

In [99]:
# Read file state-abbrevs.csv using pandas

In [100]:
df.head()

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

### 3.1 Use to_sql method to convert df to a table in a database

In [5]:
#Create new db states and store state-abbrevs.csv into table State_abbrevations

### 3.2 Verify using pd.read_sql_query

    index                 state abbreviation
0       0               Alabama           AL
1       1                Alaska           AK
2       2               Arizona           AZ
3       3              Arkansas           AR
4       4            California           CA
5       5              Colorado           CO
6       6           Connecticut           CT
7       7              Delaware           DE
8       8  District of Columbia           DC
9       9               Florida           FL
10     10               Georgia           GA
11     11                Hawaii           HI
12     12                 Idaho           ID
13     13              Illinois           IL
14     14               Indiana           IN
15     15                  Iowa           IA
16     16                Kansas           KS
17     17              Kentucky           KY
18     18             Louisiana           LA
19     19                 Maine           ME
20     20               Montana           MT
21     21              Nebraska           NE
22     22                Nevada           NV
23     23         New Hampshire           NH
24     24            New Jersey           NJ
25     25            New Mexico           NM
26     26              New York           NY
27     27        North Carolina           NC
28     28          North Dakota           ND
29     29                  Ohio           OH
30     30              Oklahoma           OK
31     31                Oregon           OR
32     32              Maryland           MD
33     33         Massachusetts           MA
34     34              Michigan           MI
35     35             Minnesota           MN
36     36           Mississippi           MS
37     37              Missouri           MO
38     38          Pennsylvania           PA
39     39          Rhode Island           RI
40     40        South Carolina           SC
41     41          South Dakota           SD
42     42             Tennessee           TN
43     43                 Texas           TX
44     44                  Utah           UT
45     45               Vermont           VT
46     46              Virginia           VA
47     47            Washington           WA
48     48         West Virginia           WV
49     49             Wisconsin           WI
50     50               Wyoming           WY