## Comprehensions

The comprehension is usually shorter, more readable, and more efficient

### Types of comprehension
* List
    [ i*2 for i in range(3) ]
* Set
    { i*2 for i in range(3)}
* Dictionary
    d = {key: value for item in sequence …} </n>
    { i: i*2 for i in range(3)}

### 1. Explicitly write the whole thing:
* squares = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
setvalue ={0,1,2,3,4,5}

square = [i ** 2 for i in setvalue]
square
type(square)

list

In [5]:


def square(list):
    return [i ** 2 for i in list]

square(range(0,11))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 2.Convert Centigrade to Fahrenheit. 

(Temp_in_°C × 9/5) + 32 = temp_in_°F

In [3]:
ctemps = [17.1, 22.3, 18.4, 19.1]

[30.78, 40.14, 33.12, 34.38]

### 3.PFB names as inputs

names = ["Isaac Newton", "Albert Einstein", "Niels Bohr", "Marie Curie",
"Charles Darwin", "Louis Pasteur", "Galileo Galilei", "Margaret Mead"]

In [22]:
names = ["Isaac Newton", "Albert Einstein", "Niels Bohr", "Marie Curie",
"Charles Darwin", "Louis Pasteur", "Galileo Galilei", "Margaret Mead"]

### 3.1 Extract only last names

In [25]:
x = [i.split()[1] for i in names]
x

['Newton', 'Einstein', 'Bohr', 'Curie', 'Darwin', 'Pasteur', 'Galilei', 'Mead']

### 3.2  “firstname lastname” to “lastname, firstname”

['Newton, Isaac',
 'Einstein, Albert',
 'Bohr, Niels',
 'Curie, Marie',
 'Darwin, Charles',
 'Pasteur, Louis',
 'Galilei, Galileo',
 'Mead, Margaret']

### 4 Cubes of the first 10 natural numbers
Goal:
Produce: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [21]:
def cube(list):
    return [i ** 3 for i in list]

cube(range(0,10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

### 5.Write a list comprehensions to find common words in both list

In [18]:
lst_1= "I love Python coding"
lst_2= "I am learning Data Science with Python"

In [19]:
[s for s in lst_1.split()  if s in lst_2.split()]

['I', 'Python']

### 6. Write a list comprehensions to get output1,output2,output3 
l1=[1,2,3,4,5] <br> l2=[4,5,6,7]

* output 1   :     [1,2,3]
* output 2   :     [6,7]
* output 3   :     [4,5]

In [10]:
l1=[1,2,3,4,5] 
l2=[4,5,6,7]

In [14]:
llo=[i for i in l1 if i<4]
llo

[6, 7]

In [15]:
llp = [i for i in l2 if i>5]
llp

[6, 7]

In [16]:
lli = [i for i in l2 if i<6]
lli

[4, 5]

[4, 5]

### 7. All above-average 2-die rolls. Here make sure sum of two numbers in tuples should be more than 7

Result list should be a list of 2-tuples:

[(2, 6), (3, 5), (3, 6), (4, 4), (4, 5), (4, 6), (5, 3), (5, 4),
(5, 5), (5, 6), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

In [38]:
x =  [(i,j) for i in range(0,7) for j in range(0,7)  if i+j > 7]
x

[(2, 6),
 (3, 5),
 (3, 6),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)]

### 8. For given input , produce output
inp = "Hello Python World"
* output 1   :     'dlroW nohtyP olleH'
* output 2   :     'olleH nohtyP dlroW'
* output 3   :     'World Python Hello'

In [29]:
inp = "Hello Python World"
inp[::-1]

'dlroW nohtyP olleH'

In [31]:
' '.join([x[::-1] for x in inp.split(' ')])

'olleH nohtyP dlroW'

In [41]:
' '.join([x for x in inp.split(' ')[::-1]])

'! world python Hello'

'World Python Hello'

### 9. Remove vowels from input

inp = "Hello python world !"

In [45]:
inp = "HellO python world !"

In [46]:

''.join([i for i in inp if i.lower() not in ['a','e','i','o','u']])

'Hll pythn wrld !'

### 10.Replace missing spaces in a string with the least frequent character?

* Input :  'dbc deb abed gade'
* Output: 'dbccdebcabedcgade'

In [3]:
my_str = 'dbc deb abed gade'

In [47]:
import pandas as pd
ser = pd.Series(list('dbc deb abed gade'))
ser

0     d
1     b
2     c
3
4     d
5     e
6     b
7
8     a
9     b
10    e
11    d
12
13    g
14    a
15    d
16    e
dtype: object

In [48]:
freq = ser.value_counts()
print(freq)

d    4
e    3
b    3
     3
a    2
g    1
c    1
dtype: int64

In [56]:
least_freq = freq.dropna().index[-1]
least_freq

'c'

In [57]:
# Solution
import pandas as pd
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

d    4
e    3
b    3
     3
a    2
g    1
c    1
dtype: int64

'dbccdebcabedcgade'

### 11. Create a numpy 4*4 array

* Input:   array([[ 0,  1,  2,  3],<br>[ 4,  5,  6,  7],<br>[ 8,  9, 10, 11],<br>[12, 13, 14, 15]])
* Output = array([[ 4,  6],<br>[12, 14]])

In [60]:
import numpy as np
x = np.arange(16).reshape(4,4)
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [78]:
x[1::2,::2]

array([[ 4,  6],
       [12, 14]])

### 12.How to find all rows in a DataFrame where Name Contains 'ane' or state='TX'?

In [6]:
import pandas as pd
 
df = pd.DataFrame({'DateOfBirth': ['1986-11-11', '1999-05-12', '1976-01-01',
                                   '1986-06-01', '1983-06-04', '1990-03-07',
                                   '1999-07-09'],
                   'Name':['Jane', 'Pane', 'Aaron', 'Penelope', 'Frane',
                         'Christina', 'Cornelia'],
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']})
df

  DateOfBirth       Name State
0  1986-11-11       Jane    NY
1  1999-05-12       Pane    TX
2  1976-01-01      Aaron    FL
3  1986-06-01   Penelope    AL
4  1983-06-04      Frane    AK
5  1990-03-07  Christina    TX
6  1999-07-09   Cornelia    TX

---- Filter DataFrame using & ----

  DateOfBirth       Name State
0  1986-11-11       Jane    NY
1  1999-05-12       Pane    TX
4  1983-06-04      Frane    AK
5  1990-03-07  Christina    TX
6  1999-07-09   Cornelia    TX